<%= form_for :session, url: session_path,remote:true  do |form| %>


  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  make it a radio button patterns
    <div class="text-field">
    <%= form.label :account_type %>
    <%= form.text_field :account_type, type: 'account_type' %>
  </div>


  <div class="submit-field">
    <%= form.submit value: "Log In" %>
  </div>
<%end%>