<div class="container">
  <div class="event-header">
   <div class="event-info col-md-10 offset-md-1">
    <h2 class="title"><%= @event.name %></h2>
    <h2 class="title">Event By</h2>
    <%= link_to(@event.school.name, school_path(@event.school), :class => "school-name") %>
    <p class="leads"><%= @event.description %></p>
   </div>
  </div>

  <div class="col-md-10 offset-md-1 my-3">
   <div class="event-details">
     <div class="row age details-row">
       <div class="col-md-2 title-col">Age Range</div>
       <div class="col-md-7"><%= @event.age_range %> </div>
     </div>
     <div class="row school-type details-row">
       <div class="col-md-2 title-col">Location:</div>
       <div class="col-md-10"><%= @event.location %></div>
     </div>
     <h2 class="contact row">Date</h2>
     <div class="row contact-row details-row">
       <div class="col-md-2 title-col"><%= @event.event_date %></div>
       <div class="col-md-7"><%= @event.event_time %></div>  
     </div>
     <div class="row contact-row details-row">
       <div class="col-md-2 title-col">Ticket Price:</div>
       <div class="col-md-7"><%= number_to_currency(@event.price, :unit => "RM") %></div>  
     </div>
     <div class="row contact-row details-row flex">
       <%= link_to("Get Tickets", new_transaction_path(:transaction => {:event_id => @event.id}), :class => "btn btn-buy") %>
     </div>
   </div>
  </div>  
</div>

