<div class="container">
  <div class="school-show">
    <div class="card">
      <!-- Photos Card -->
      <div class="card-block img-card">
        <div class="bg-img">
          <%= image_tag(@school.profile_cover ? @school.profile_cover : "http://placehold.it/1108x450",
          :size => "1108x450", :class => "img-fluid") %>
          <%= image_tag(@school.profile_pic ? @school.profile_pic : "http://placehold.it/240x150",
              :size => "240x150", :class => "img-thumbnail logo") %>
        </div>
        <div class="school-details">
          <div class="row details-row">
            <h2 class="title"><%= @school.name %></h2>
            <h6 class="about-us">About The School</h6>
            <p class="leads"><%= @school.description %></p>
          </div>
          <div class="row age details-row">
            <div class="col-md-3 title-col">Age Taught:</div>
            <div class="col-md-7"><%= @school.age_range %></div>
          </div>
          <div class="row school-type details-row">
            <div class="col-md-3 title-col">School Type:</div>
            <%if @school.category.nil? %>
              <div class="col-md-7"><%= @school.category %></div>
            <%else%>
              <div class="col-md-7"><%= @school.category.camelize %></div>
            <%end%>
          </div>
          <h2 class="contact row">Contacts</h2>
          <div class="row contact-row details-row">
            <div class="col-md-3 title-col">Email Address:</div>
            <div class="col-md-7"><%= @school.email %></div>
          </div>
          <div class="row contact-row details-row">
            <div class="col-md-3 title-col">Phone Number:</div>
            <div class="col-md-7">0129312932</div>
          </div>
          <div class="row contact-row details-row">
            <div class="col-md-3 title-col">Website</div>
            <div class="col-md-7">WWW.LoremIpsum.com</div>
          </div>
          <div class="address row details-row">
            <div class="col-md-3 title-col">Address</div>
            <div class="col-md-7"><%= @school.location %></div>
          </div>
        </div>
      </div>
      <!-- Photos Card -->
    </div>
  </div>

  <div class="col-md-10 offset-md-1 my-3"></div>
  <h2 class="title center">Upcomming Events By The School</h2>
  <%= render :partial => "events/partials/events", :locals => {:events => @school.events}  %>
</div>