<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @school.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @school.category %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @school.avatar %>
</p>

<p>
  <strong>Minimum Age:</strong>
  <%= @school.min_age %>
</p>

<p>
  <strong>Maximum Age:</strong>
  <%= @school.max_age %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
