<div class="">
  <div class="container event-row">
    <div class="event-date col-md-1">
      <h2 class="month"><%= event.month%></h2>
      <h3 class="day"><%= event.day%></h3>
    </div>
    <div class="col-md-11">
      <div class="event-desc flex flex-col">
        <h2 class="title"><%= truncate(event.name, :length => 60) %></h2>
        <p class="leads">
          <strong>Hosted By</strong>
          <%= link_to(truncate(event.school.name, :length => 40), school_path(event.school), :class => "hosted-by") %><br>
          <% if !owner(event.school) %>
          <strong>Total Paid Fee:</strong>
          RM<%= current_user.individual.tickets.count * event.price %><br>
           <strong>Total Purchased Tickets:</strong>
          <%= current_user.individual.tickets.count%><br>
          <%end%>
        </p>
        <div class="event-footer flex">
          <p class="time-leads"><%= event.event_time %></p>
          <%= link_to("View", event_path(event) , :class => "btn btn-view") %>
        </div>
      </div>
    </div>
    <% if owner(event.school) %>
      <%= link_to("X", event_path(event), :method => "delete", :class => "btn btn-remove") %>
      <%= link_to(edit_event_path(event), :class => "btn btn-edit") do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
</div>