<!DOCTYPE html>
<html>
<head>
  <%= include_gon %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

  <title>Dynos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>

     <div>
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
         <li class="navbar-btn"><%= button_to 'Sign out', sign_out_path, method: :delete %></li>
        </ul>

    <% else%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign in', sign_in_path %></li>
      </ul>
     <% end %>

  </div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

<%= yield %>

</body>
</html>
