<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DYNOS</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    
  </head>
  <body>
    
    <div class="container-fluid flex flex-col">
      <div class="row header">
        <nav class="navbar navbar-light home-nav container">
          <%= render :partial => "layouts/partials/navbar" %>
        </nav> <!-- Navbar -->
      </div> <!-- Header --> 
      <div class="row contant">
        <div>
          <%= yield %>
        </div>
      </div> <!-- School -->
      <!-- Render Footer -->
        <%= render :partial => "layouts/partials/footer" %>
      <!-- Render Footer -->
    </div>
    

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- Important For  Fonts Icons -->
    <%= javascript_include_tag 'https://use.fontawesome.com/0b77101dd2.js'%>
    
  </body>
</html>