<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DYNOS</title>
    <!-- Bootstrap CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="css/show_school.css">
      <%= csrf_meta_tags %>
  </head>
  <body>
    
    <div class="container-fluid flex flex-col">
      <div class="row header">
        <nav class="navbar navbar-light home-nav container">
          <ul class="nav navbar-nav flex">
            <%= link_to("DYNOS", root_url , :class => "navbar-brand") %>
            <li class="nav-item ">
              <%= link_to("Home", root_url , :class => "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Schools", schools_url , :class => "nav-link") %>
            </li>
            <li class="nav-item">
              <%= link_to("Events", events_url , :class => "nav-link") %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="user-option" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Username</a>
              <div class="dropdown-menu" aria-labelledby="user-option">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Your Events</a>
                <a class="dropdown-item" href="#">Sign Out</a>
              </div>
            </li>
          </ul>
        </nav> <!-- Navbar -->
      </div> <!-- Header --> 
      <div class="row contant">
        <div>
          <%= yield %>
        </div>
      </div> <!-- School -->
      <div class="row footer">
        <div class="container">
          <h2 class="made-at">Created At Next Academy</h2>  
        </div>
      </div> <!-- Footer -->
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'https://use.fontawesome.com/0b77101dd2.js'%>
    
  </body>
</html>